In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df_train=pd.read_csv(r'C:\Users\Hariom Tripathi\Desktop\Big Mart Price System\Train (1).csv')
df_test=pd.read_csv(r'C:\Users\Hariom Tripathi\Desktop\Big Mart Price System\Test.csv')

In [3]:
df_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
df_train.shape

(8523, 12)

In [6]:
df_test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [9]:
df_train['Item_Weight'].fillna(df_train['Item_Weight'].mean(),inplace=True)

In [10]:
df_test['Item_Weight'].fillna(df_test['Item_Weight'].mean(),inplace=True)

In [11]:
df_train['Item_Weight'].isnull().sum()

0

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

# to fill the null value in catagorical Outlet_Size we use Mean Imputation

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
model=LabelEncoder()

In [15]:
model.fit_transform(df_train['Item_Type'])

array([ 4, 14, 10, ...,  8, 13, 14])

In [16]:
df_train['Outlet_Size'].mode()

0    Medium
dtype: object

In [17]:
df_train['Outlet_Size'].fillna(df_train['Outlet_Size'].mode()[0],inplace=True)

In [18]:
df_train['Outlet_Size'].isnull().sum()

0

In [19]:
df_test['Outlet_Size'].fillna(df_test['Outlet_Size'].mode()[0],inplace=True)

# Reducing the size of the data by droping

In [20]:
df_train.drop(columns=['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

In [21]:
df_train.shape
#df_test.shape

(8523, 10)

In [22]:
df_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [23]:
df_test.drop(columns=['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

# EDA using klib

In [24]:
#conda install klib

In [25]:
import klib

In [26]:
klib.data_cleaning(df_train)

Shape of cleaned data: (8523, 10)Remaining NAs: 0

Changes:
Dropped rows: 0
     of which 0 duplicates. (Rows: [])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.43 MB (-66.15%)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.3,Low Fat,0.016047,Dairy,249.809204,1999,Medium,Tier 1,Supermarket Type1,3735.137939
1,5.92,Regular,0.019278,Soft Drinks,48.269199,2009,Medium,Tier 3,Supermarket Type2,443.422791
2,17.5,Low Fat,0.01676,Meat,141.617996,1999,Medium,Tier 1,Supermarket Type1,2097.27002
3,19.200001,Regular,0.0,Fruits and Vegetables,182.095001,1998,Medium,Tier 3,Grocery Store,732.380005
4,8.93,Low Fat,0.0,Household,53.861401,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.521805,1987,High,Tier 3,Supermarket Type1,2778.383301
8519,8.38,Regular,0.046982,Baking Goods,108.156998,2002,Medium,Tier 2,Supermarket Type1,549.284973
8520,10.6,Low Fat,0.035186,Health and Hygiene,85.122398,2004,Small,Tier 2,Supermarket Type1,1193.113647
8521,7.21,Regular,0.145221,Snack Foods,103.133202,2009,Medium,Tier 3,Supermarket Type2,1845.597656
8522,14.8,Low Fat,0.044878,Soft Drinks,75.467003,1997,Small,Tier 1,Supermarket Type1,765.669983

In [27]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                8523 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

# To clean the data using klib

In [28]:
df_train=klib.convert_datatypes(df_train)

In [29]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                8523 non-null   Float32
 1   Item_Fat_Content           8523 non-null   category
 2   Item_Visibility            8523 non-null   Float32
 3   Item_Type                  8523 non-null   category
 4   Item_MRP                   8523 non-null   Float32
 5   Outlet_Establishment_Year  8523 non-null   int16
 6   Outlet_Size                8523 non-null   category
 7   Outlet_Location_Type       8523 non-null   category
 8   Outlet_Type                8523 non-null   category
 9   Item_Outlet_Sales          8523 non-null   Float32
dtypes: Float32(4), category(5), int16(1)
memory usage: 226.2 KB


# Train Test Split & Catagory Preprossing

# 1) Label Encoding

In [30]:
#df_train['Item_Fat_Content']=
from sklearn.preprocessing import LabelEncoder
model=LabelEncoder()

In [31]:
df_train['Item_Fat_Content']=model.fit_transform(df_train['Item_Fat_Content'])
df_train['Item_Type']=model.fit_transform(df_train['Item_Type'])
df_train['Outlet_Size']=model.fit_transform(df_train['Outlet_Size'])
df_train['Outlet_Location_Type']=model.fit_transform(df_train['Outlet_Location_Type'])
df_train['Outlet_Type']=model.fit_transform(df_train['Outlet_Type'])

In [32]:
df_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.3,1,0.016047,4,249.809204,1999,1,0,1,3735.137939
1,5.92,2,0.019278,14,48.269199,2009,1,2,2,443.422791
2,17.5,1,0.01676,10,141.617996,1999,1,0,1,2097.27002
3,19.200001,2,0.0,6,182.095001,1998,1,2,0,732.380005
4,8.93,1,0.0,9,53.861401,1987,0,2,1,994.7052

# One Hot Encoding

In [33]:
df_train=pd.get_dummies(df_train,columns=['Item_Fat_Content','Outlet_Size','Outlet_Location_Type','Outlet_Type'])

In [34]:
df_train.head()

,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Item_Fat_Content_3,...,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3
0,9.3,0.016047,4,249.809204,1999,3735.137939,0,1,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,14,48.269199,2009,443.422791,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,17.5,0.01676,10,141.617996,1999,2097.27002,0,1,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200001,0.0,6,182.095001,1998,732.380005,0,0,1,0,...,0,1,0,0,0,1,1,0,0,0
4,8.93,0.0,9,53.861401,1987,994.7052,0,1,0,0,...,1,0,0,0,0,1,0,1,0,0

In [35]:
df_train.shape

(8523, 21)

In [36]:
df_train.drop(columns=['Item_Fat_Content_0','Outlet_Size_0','Outlet_Location_Type_0','Outlet_Type_0'],axis=1,inplace=True)

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x=df_train.drop(columns='Item_Outlet_Sales',axis=1)

In [39]:
y=df_train['Item_Outlet_Sales']

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=101)

In [41]:
print(x_train.shape,x_test.shape)

(6818, 16) (1705, 16)

In [42]:
print(y_train.shape,y_test.shape)

(6818,) (1705,)

# #Training the Model

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
le=StandardScaler()

In [45]:
x_train=le.fit_transform(x_train)

In [46]:
x_test=le.transform(x_test)

In [47]:
print(x_train)

[[ 1.52290023  0.68469731 -0.75847359 ...  0.73160085 -0.34892775
  -0.35759513]
 [-1.239856   -0.09514746  1.60759199 ...  0.73160085 -0.34892775
  -0.35759513]
 [ 1.54667619 -0.0083859   0.66116576 ...  0.73160085 -0.34892775
  -0.35759513]
 ...
 [-0.08197109 -0.91916229  0.18795264 ...  0.73160085 -0.34892775
  -0.35759513]
 [-0.74888436  1.21363045 -1.70489982 ...  0.73160085 -0.34892775
  -0.35759513]
 [ 0.67885675  1.83915361  0.4245592  ... -1.36686554  2.8659228
  -0.35759513]]

In [48]:
import joblib

In [49]:
#joblib.dump(le,r'C:\Users\Hariom Tripathi\Desktop\Big Mart Price System\Models\sc.sav')

In [50]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=1000)

In [51]:
rf.fit(x_train,y_train)

RandomForestRegressor(n_estimators=1000)

In [52]:
from sklearn.metrics import r2_score

In [53]:
x_pre=rf.predict(x_test)
x_acc=r2_score(x_pre,y_test)

D:\Mini Conda\lib\site-packages\sklearn\metrics\_regression.py:91: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  y_pred = check_array(y_pred, ensure_2d=False, dtype=dtype)

In [54]:
print(x_acc)

0.3447841282676166

In [55]:
#joblib.dump(rf,r'C:\Users\Hariom Tripathi\Desktop\Big Mart Price System\Models\rf.sav')

In [56]:
from joblib import load,dump
dump(rf,'BigMart.joblib')

['BigMart.joblib']

In [57]:
x_test[0]

array([-0.43860916, -0.21609253,  0.18795264, -0.65315472,  1.34005813,
        0.82596048, -0.719355  , -0.1150058 , -0.11823609,  0.79835325,
       -0.62541559, -0.68998339,  1.23687919, -1.36686554,  2.8659228 ,
       -0.35759513])

In [58]:
y_test[0]

3735.138